.overlay {
  max-width: 100%;
  box-sizing: border-box;
  padding: 90px 48px 0 48px;
  background-color: #2A2C2F;
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
  .overlay {
    padding: 90px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .overlay {
    padding: 66px 0 0 0;
  }
}