.lead {
  padding-top: 56px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    padding-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 48px 0 0 0;
  }  
}