.place__link {
  text-decoration: none;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-bottom: solid 1px #fff;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  transition: opacity .5s linear;
}

.place__link:hover {
  opacity: .8;
}