.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px 48px;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 64px 0 24px 16px;
    flex-direction: column;
  }
}