.place {
  padding-top: 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "title website"
  "image text";
  row-gap: 48px;
  column-gap: 40px;
}

.places.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .place {
    padding-top: 73px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "website"
    "image"
    "text ";
  }
  
  .places.place:first-of-type {
    padding-top: 0;
  }

}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
    padding-top: 50px;
  }
  
  .places.place:first-of-type {
    padding-top: 0;
  }
}